[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
supabase = "*"
python-dotenv = "*"
pyjwt = "*"
clerk-backend-api = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"

[scripts]
dev = "uvicorn app.main:app --reload"
lint = "black . && isort ."
test = "pytest"
